.productItemsGrid {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;

  &__noResults {
    font-size: 24px;
    color: #888;
    letter-spacing: 1px;
    margin-top: 70px;
  }
}