.productSearch {
  &__input {
    padding: 20px 0;
    text-align: center;
    background-color: $theme-color;
    border-bottom: 1px solid darken($theme-color, 20%);

    input {
      width: 80%;
      max-width: 700px;
      border: 1px solid darken($theme-color, 20%); 
    }
  }
}

@import "./Item";
@import "./ItemsGrid";
@import "./SortingFilters";